<html>
  <head>
    <title>Disappearing Ninjas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ninja.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/ninja.js') }}"></script>
  </head>
  <body>
    <form action="/ninja" method="post">
      make a boolean statement here that displays all of them
      <img src="{{ url_for('static', filename='ninjas/donatello.jpg') }}">
      <img src="{{ url_for('static', filename='ninjas/leonardo.jpg') }}">
      <img src="{{ url_for('static', filename='ninjas/michaelangelo.jpg') }}">
      <img src="{{ url_for('static', filename='ninjas/raphael.jpg') }}">
      <img src="{{ url_for('static', filename='ninjas/notapril.jpg') }}">
      make an if statement here that says 
    </form>
  </body>
</html>
